<h3>Add Comment to <%= @workout.activity %></h3>

<%= form_with url: "/insert_comment", local: true do |form| %>
  <%= form.hidden_field :workout_id, value: @workout.id %>
  <div class="field">
    <%= form.label :body, "Your Comment:" %>
    <%= form.text_area :body, name: "query_body" %>
  </div>
  <%= form.hidden_field :user_id, value: session[:user_id], name: "query_user_id" %>
  <div class="actions">
    <%= form.submit "Add Comment" %>
  </div>
<% end %>
