<div class="container">
  <div class="text-center mt-5">
    <h1>Workout Feed</h1>
  </div>
</div>

<hr>

<% if session.fetch(:user_id) == nil %>
<% else %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center my-5">
          <h2>Add a new workout</h2>

         
          <form action="/insert_workout" method="post" class="form-horizontal" enctype="multipart/form-data">


            <div class="mb-3">
              <label for="date_box" class="form-label">Date</label>
              <input type="date" class="form-control" id="date_box" name="query_date">
            </div>

            <div class="mb-3">
              <label for="activity_box" class="form-label">Type of activity</label>
              <input list="Activities" id="activity_box" name="query_activity">
              <datalist id="Activities">
                <option value="4+ Mile Walk"></option>
                <option value="Run"></option>
                <option value="Yoga"></option>
                <option value="Indoor Cycle"></option>
                <option value="Outdoor Bike Ride"></option>
                <option value="Pilates"></option>
                <option value="Dance"></option>
                <option value="Barre"></option>
                <option value="Swim"></option>
                <option value="Tennis"></option>
                <option value="Squash"></option>
                <option value="Pickleball"></option>
                <option value="Ski/Snowboard"></option>
                <option value="Rock Climb"></option>
        
                <% Activity.all.each do |activity| %>
                <option value="<%= activity.name %>"></option>
                <% end %>
              </datalist>
              
            </div>

            <div class="mb-3">
              <label for="description_box" class="form-label">Description of workout</label>
              <input type="text" class="form-control" id="description_box" name="query_description">
            </div>

            <div class="mb-3">
              <label for="url" class="form-label">Photo</label>
              <input  type="file" id="url" class="form-control" name="url">
            </div>

            <button type="submit" class="btn btn-primary">Add workout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>
<% end %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @list_of_workouts.each do |a_workout| %>

      <div class="col mb-4">
        <div class="card">
          <h5 class="card-title text-center"><%= a_workout.activity %></h5>
          <img src="<%= a_workout.url %>" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <p class="card-text"><%= a_workout.description %></p>
            <p><%= a_workout.date.strftime("%A, %b %e") %></p>
            <a href="/users/<%= a_workout.user.first_name %>" class="card-link"><%= a_workout.user.first_name %></a>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
