<div>
  <div>
    <h1>
      Workout Feed
    </h1>
  </div>
</div>

<hr>

<% if session.fetch(:user_id) == nil %>
<% else %>
  <div>
    <div>
      <h2>
        Add a new workout
      </h2>

      <form action="/insert_workout" method="post">

        <div>
          <label for="date_box">
            Date
          </label>

          <input type="date" id="date_box" name="query_date">
        </div>

        <div>
          <label for="activity_box">
            Type of activity
          </label>

          <input type="text" id="activity_box" name="query_activity">
        </div>

        <div>
          <label for="description_box">
            Description of workout
          </label>

          <input type="text" id="description_box" name="query_description">
        </div>

        <div>
          <label for="image_box">
            Photo
          </label>

          <input id="browser_input" type="text" name="input_image" placeholder="Enter a URL for the image...">
        </div>

        <button>
          Add workout
        </button>
      </form>
    </div>
  </div>
  <hr>
<% end %>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          Date
        </th>

        <th>
          Type
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>
      </tr>

      <% @list_of_workouts.each do |a_workout| %>
      <tr>

        <td>
         <a href="/users/<%= a_workout.user.first_name %>">
          <%= a_workout.user.first_name %>
        </a>

        </td>

        <td>
          <%= a_workout.date.strftime("%A, %b %e") %>
        </td>

        <td>
          <%= a_workout.activity %>
        </td>

        <td>
          <%= a_workout.description %>
        </td>

        <td>
          <img src="<%= a_workout.image %>">
        </td>

        <td>
          <%= time_ago_in_words(a_workout.created_at) %> ago
        </td>

       
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
