<div>
  <div>
    <h1>
      Workout Feed
    </h1>
  </div>
</div>

<hr>

<% if session.fetch(:user_id) == nil %>
<% else %>
  <div>
    <div>
      <h2>
        Add a new workout
      </h2>

      <form action="/insert_workout" method="post">

        <div>
          <label for="date_box">
            Date
          </label>

          <input type="date" id="date_box" name="query_date">
        </div>

        <div>
          <label for="activity_box">
            Type of activity
          </label>

          <input type="text" id="activity_box" name="query_activity">
        </div>

        <div>
          <label for="description_box">
            Description of workout
          </label>

          <input type="text" id="description_box" name="query_description">
        </div>

        <div>
          <label for="image_box">
            Photo
          </label>

          <input id="image_box" type="text" name="input_image" placeholder="Enter a URL for the image...">
        </div>

        <button>
          Add workout
        </button>
      </form>
    </div>
  </div>
  <hr>
<% end %>

<% @list_of_workouts.each do |a_workout| %>
  <div class="card" style="width: 18rem;">
    <h5 class="card-title"><%= a_workout.activity %></h5>
    <img src="<%= a_workout.image %> " class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><%= a_workout.description %></p>
      <p><%= a_workout.date.strftime("%A, %b %e") %> </p>
      <a href="/users/<%= a_workout.user.first_name %>" class="card-link"><%=a_workout.user.first_name%></a>
    </div>
  </div>
<% end %>


  