<div>
  <div>
    <h1>
      Workout #<%= @the_workout.id %> details
    </h1>

    <div>
      <div>
        <a href="/workouts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_workout/<%= @the_workout.id %>">
          Delete workout
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_workout.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_workout.name %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_workout.date %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_workout.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_workout.image %>">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit workout
    </h2>

    <form action="/modify_workout/<%= @the_workout.id %>"  method="post" >

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_workout.date %>">
      </div>

      <div>
        <label for="activity_box">
          Activity
        </label>

        <input type="text" id="activity_box" name="query_activity" value="<%= @the_workout.activity %>">
      </div>
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_workout.description %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_workout.image %>">
      </div>

      <button>
        Update workout
      </button>
    </form>
  </div>
</div>

<hr>
