<style>
  .table-bordered {
    border: 2px solid #333;
  }
</style>

<div class="container text-center mt-5">
  <h1 class="display-4">Workout Tracker</h1>
</div>

<div class="container mt-5">
  <h2 class="display-5 text-center mb-4"><%= @current_month %> Summary</h2>

  <table class="table table-hover table-bordered">
    <thead class="bg-secondary text-white">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Current Week Total</th>
        <th class="text-center">Month Total</th>
        <th class="text-center">Amount Owed</th>
      </tr>
    </thead>
    <tbody>
      <% highest_month_count = @users.max_by { |user| user.current_month_workouts.count } %>
      <% @active_users.each do |user| %>
        <tr>
          <td class="text-center font-weight-bold <%= 'bg-success text-white' if user == highest_month_count %>"><%= user.first_name %></td>
          <td class="text-center <%= 'bg-success text-white' if user == highest_month_count %>"><%= user.current_week_workouts.count %></td>
          <td class="text-center <%= 'bg-success text-white' if user == highest_month_count %> <%= 'text-success' if user == highest_month_count %>"><%= user.current_month_workouts.count %></td>
          <% amount_owed = 0 %>
          <% current_date = Date.today.beginning_of_month %>
          <% while current_date.month == Date.today.month %>
            <% weekly_count = user.workouts.where(date: current_date..(current_date + 6.days)).count %>
            <% unless user.injured_during?(current_date..(current_date + 6.days)) %>
              <% amount_owed += (3 - weekly_count) * 5 if weekly_count < 3 %>
            <% end %>
            <% current_date += 1.week %>
          <% end %>
          <td class="text-center <%= 'bg-danger text-white' if amount_owed * 5 > 0 %>">
            <%= number_to_currency(amount_owed) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- ... The same for other tables ... -->



<div class="container mt-5">
  <h2 class="display-5 text-center mb-4"><%= @current_month %> Weekly Stats</h2>

  <table class="table table-bordered">
    <thead class="text-center bg-secondary text-white">
      <tr>
        <th class="text-center font-weight-bold">Week</th>
        <% @active_users.each do |user| %>
          <th class="text-center"><%= user.first_name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% current_date = Date.today.beginning_of_month %>
      <% while current_date.month == Date.today.month %>
        <tr>
          <td class="text-center font-weight-bold"><%= current_date.strftime('%B %d') %> - <%= (current_date + 6.days).strftime('%B %d') %></td>
          <% @active_users.each do |user| %>
            <% workout_count = user.workouts.where(date: current_date..(current_date + 6.days)).count %>
            <td class="text-center <%= 'bg-success text-white' if workout_count == @users.map { |u| u.workouts.where(date: current_date..(current_date + 6.days)).count }.max %>">
              <% if current_date > Date.today %>
                -
              <% else %>
                <%= workout_count %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% current_date += 1.week %>
      <% end %>
    </tbody>
  </table>


</div>

<hr>
<div class="container mt-5">
  <h2 class="display-5 text-center mb-4"><%= @current_month %> Injuries</h2>

  <table class="table table-bordered">
    <thead class="text-center bg-secondary text-white">
      <tr>
        <th class="text-center font-weight-bold">Name</th>
        <th class="text-center">Injury/Sickness Description</th>
        <th class="text-center">Start Date</th>
        <th class="text-center">End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @active_users.each do |user| %>
        <% user_injuries = @users_injuries[user.id] %>
        <% user_injuries.each do |injury| %>
          <tr>
            <td class="text-center font-weight-bold"><%= user.first_name %></td>
            <td class="text-center"><%= injury.description %></td>
            <td class="text-center"><%= injury.start_date.strftime('%B %d, %Y') %></td>
            <td class="text-center"><%= injury.end_date ? injury.end_date.strftime('%B %d, %Y') : "Ongoing" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<hr>

<div class="container mt-5">
  <h2 class="display-5 text-center mb-4">Settle Up</h2>

  <table class="table table-bordered">
    <thead class="text-center bg-secondary text-white">
      <tr>
        <th class="text-center font-weight-bold">Month</th>
        <th class="text-center">Name</th>
        <th class="text-center">Amount Owed</th>
        <th class="text-center">Owed To</th>
        <th class="text-center">Settled</th>
      </tr>
    </thead>
    <tbody>
      <% start_month = Date.new(2023, 8) %> <!-- August 2023 -->
      <% months_since_start = (Date.today.year - start_month.year) * 12 + (Date.today.month - start_month.month) %>
      <% months_since_start.times do |i| %>
        <% past_month = Date.today - i.months %>
        
        <% next if Date.today.month == past_month.month && Date.today.year == past_month.year %> <!-- Skip the current month -->
        
        <% # Determine the user with the highest workout count for the past month %>
        <% top_user = @users.max_by { |user| user.workouts.where(date: past_month.all_month).count } %>

        <% @active_users.each_with_index do |user, index| %>
          <tr <% if index == @users.size - 1 %>style="border-bottom: 3px solid black;"<% end %>>
            <td class="text-center font-weight-bold"><%= past_month.strftime('%B %Y') %></td>
            <td class="text-center"><%= user.first_name %></td>

            <% # Calculate Amount Owed just like in the first table %>
            <% amount_owed = 0 %>
            <% current_date = past_month.beginning_of_month %>
            <% while current_date.month == past_month.month %>
              <% weekly_count = user.workouts.where(date: current_date..(current_date + 6.days)).count %>
              
             
              <% unless user.injured_during?(current_date..(current_date + 6.days)) %>
                <% amount_owed += (3 - weekly_count) * 5 if weekly_count < 3 %>
              <% end %>
              
              <% current_date += 1.week %>
            <% end %>     
            <td class="text-center"><%= number_to_currency(amount_owed) %></td>

            <% # Check if the user is the top user for this month %>
            <td class="text-center"><%= user == top_user ? '-' : top_user.first_name %></td>

            <% # "settled" checkbox, visible for everyone %>
            <td class="text-center">
              <input type="checkbox" name="settled_<%= user.id %>_<%= past_month.strftime('%B%Y') %>">
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
