

<h2 class="text-center">Edit Profile</h2>

<% if session.fetch(:user_id) == @the_user.id %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-4">ID</dt>
        <dd class="col-sm-8"><%= @the_user.id %></dd>

        <dt class="col-sm-4">Edit profile</dt>
        <dd class="col-sm-8">
          <form action="/update_user/<%= @the_user.id %>">
            <div class="mb-3">
              <label for="browser_first_name" class="form-label">First name</label>
              <input id="browser_first_name" type="text" name="input_first_name" value="<%= @the_user.first_name %>" class="form-control">
            </div>

            <div class="mb-3">
              <label for="browser_last_name" class="form-label">Last name</label>
              <input id="browser_last_name" type="text" name="input_last_name" value="<%= @the_user.last_name %>" class="form-control">
            </div>

            <div class="mb-3">
              <label for="browser_email" class="form-label">Email</label>
              <input id="browser_email" type="text" name="input_email" value="<%= @the_user.email %>" class="form-control">
            </div>

            <div class="mb-3">
              <label for="browser_password" class="form-label">Password</label>
              <input id="browser_password" type="text" name="input_password" placeholder="Enter new password..." class="form-control">
            </div>

            <button class="btn btn-primary">Update Profile</button>
          </form>
        </dd>
      </dl>
    </div>
  </div>

<hr>

<div class="text-center">
  <% if @the_user.active? %>
    <%= button_to "Deactivate Profile", deactivate_user_path(@the_user), method: :patch, class: "btn btn-danger", data: { confirm: "Are you sure you want to deactivate your profile?" } %>
  <% else %>
    <p>Your profile is currently deactivated.</p>
    <%= button_to "Activate Profile", activate_user_path(@the_user), method: :patch, class: "btn btn-success", data: { confirm: "Are you sure you want to activate your profile?" } %>
  <% end %>
</div>



</div>
<% end %>

<p></p>



