<style>
  .card {
    text-align: center;
  }
</style>

<div class="container text-center mt-5">
  <h1><%= @the_user.first_name %> <%= @the_user.last_name %></h1>
</div>

<% if session.fetch(:user_id) == @the_user.id %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-4">ID</dt>
        <dd class="col-sm-8"><%= @the_user.id %></dd>

        <dt class="col-sm-4">Edit profile</dt>
        <dd class="col-sm-8">
          <form action="/update_user/<%= @the_user.id %>">
            <div class="mb-3">
              <label for="browser_first_name" class="form-label">First name</label>
              <input id="browser_first_name" type="text" name="input_first_name" value="<%= @the_user.first_name %>" class="form-control">
            </div>

            <div class="mb-3">
              <label for="browser_last_name" class="form-label">Last name</label>
              <input id="browser_last_name" type="text" name="input_last_name" value="<%= @the_user.last_name %>" class="form-control">
            </div>

            <div class="mb-3">
              <label for="browser_email" class="form-label">Email</label>
              <input id="browser_email" type="text" name="input_email" value="<%= @the_user.email %>" class="form-control">
            </div>

            <div class="mb-3">
              <label for="browser_password" class="form-label">Password</label>
              <input id="browser_password" type="text" name="input_password" placeholder="Enter new password..." class="form-control">
            </div>

            <button class="btn btn-primary">Update Profile</button>
          </form>
        </dd>
      </dl>
    </div>
  </div>
</div>
<% end %>

<hr>

<div class="container mt-5">
  <h2 class="text-center">Summary</h2>
  <table class="table table-bordered text-center">
    <tr>
      <th>Current Month Count</th>
      <th>Monthly Average</th>
      <th>Top Activity</th>
      <th>Total Workouts</th>
    </tr>
    <tr>
      <td><%= @current_workouts.count %></td>
      <td><%= @monthly_average %></td>
      <td><%= @most_frequent_activity %></td>
      <td><%= @total_workouts %></td>
    </tr>
  </table>
</div>

<div class="container mt-5">
  <h2 class="text-center"><%= @month %> Activity</h2>
  <div class="row justify-content-center">
    <% @current_workouts.order(date: :desc).each do |a_workout| %>
    <div class="col-md-4">
      <div class="card mb-3 text-center">
        <h5 class="card-title"><%= a_workout.activity %></h5>
        <img src="<%= a_workout.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= a_workout.description %></p>
          <p><%= a_workout.date.strftime("%A, %b %e") %></p>
          <a href="/users/<%= a_workout.user.first_name %>" class="card-link"><%= a_workout.user.first_name %></a>
          <a href="/workouts/<%= a_workout.id %>" class="card-link">Edit workout</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center">Past Activity</h2>
  <div class="row justify-content-center">
    <% @past_workouts.order(date: :desc).each do |a_workout| %>
    <div class="col-md-4">
      <div class="card mb-3 text-center">
        <h5 class="card-title"><%= a_workout.activity %></h5>
        <img src="<%= a_workout.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= a_workout.description %></p>
          <p><%= a_workout.date.strftime("%A, %b %e") %></p>
          <a href="/users/<%= a_workout.user.first_name %>" class="card-link"><%= a_workout.user.first_name %></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
